<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa7">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import iiwa7 urdf file -->
    <xacro:include filename="$(find kuka_bord_description)/urdf/p5.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="iiwa7.ros2_control.xacro" />


    <xacro:iiwa7_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
