<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa7_table" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7_table/iiwa7_table_description.xacro" />
    
    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="sim" default="true" />
    <xacro:arg
        name="system_parameters_path"
        default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />

    <material name="steel_satin">
        <color rgba="0.6274509803921569 0.6274509803921569 0.6274509803921569 1.0"/>
    </material> 

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

    <!-- table mount -->
    <link name="table">
        <inertial>
            <origin xyz="0.47511520643410643 0.9340356249199337 1.753635248949686" rpy="0 0 0"/>
            <mass value="1382.7919279449686"/>
            <inertia ixx="1994.27355" iyy="2787.103818" izz="966.579181" ixy="-0.365832" iyz="-145.275916" ixz="-0.552572"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://lbr_description/meshes/table/visual/base_link_low_polly.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="steel_satin"/>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://lbr_description/meshes/table/collision/iiwa7_table_collision.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!--joint between world and table-->
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="table" />
    </joint>

    <!--joint between table and right iiwa7 -->
    <joint name="mount_right" type="fixed">
        <parent link="table" />
        <child link="link_0" />
        <origin xyz="0.273705 0.76 1.037203" rpy="0.785398163 0 -1.57079633"/>
    </joint>

    <!--<origin xyz="0.716295 0.76 1.037203" rpy="-0.785398163 0 -1.57079633"/>-->

    <!-- iiwa -->
    <xacro:iiwa7_table
        robot_name="$(arg robot_name)"
        sim="$(arg sim)"
        system_parameters_path="$(arg system_parameters_path)" />
</robot>
