<?xml version="1.0"?>
 
<!-- top level -->
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7_description.xacro" />

    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="mode" default="mock" />
    <xacro:arg
        name="system_parameters_path"
        default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

     <!-- Table link -->
    <link name="table">
      <inertial>
        <origin rpy="0 0 0" xyz="0.47511520643410643 0.9340356249199337 1.753635248949686"/>
        <mass value="1382.7919279449686"/>
        <inertia ixx="1994.27355" ixy="-0.365832" ixz="-0.552572" iyy="2787.103818" iyz="-145.275916" izz="966.579181"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://kuka_bord_description/meshes/table_meshes/visual/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="steel_satin"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://kuka_bord_description/meshes/table_meshes/collision/base_link_low_polly.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!--joint between world and table-->
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="table" />
    </joint>

    <!-- joint between table and iiwa7-->
    <joint name="world_joint" type="fixed">
        <parent link="table" />
        <child link="link_0" />
        <origin xyz="0.273705 0.76 1.037203" rpy="0.785398163 0 -1.57079633"/>
    </joint>

    <!-- iiwa -->
    <xacro:iiwa7
        robot_name="$(arg robot_name)"
        mode="$(arg mode)"
        system_parameters_path="$(arg system_parameters_path)" />
</robot>